/* Task 1 */
h1 {
  text-align: center;
}

ul {
  list-style: none;
  padding: 10px;
  margin: 20px auto;
  width: fit-content;
  background-color: lightgray;
  border: 1px solid black;
}

li {
  font-weight: bold;
  color: green;
}
